.postList{
    max-width: 70%;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.postsList__table{
    border-collapse: collapse;
}
.postsList__table, th, td{
    border: 1px solid lightgray;
    padding: 10px 20px;
}

.postsList__table a{
    padding: 5px;
    background-color: #DC3545;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 10px;
    font-weight: 800;
    border-radius: 6px;
}

.postsList__message{
    font-size: 50px;
}

.postList__backBtn{
    align-self: flex-start;
    margin-bottom: 10px;
    background-color: #19181A;
    border: none;
    color: white;
    padding: 5px;
    text-transform: uppercase;
    font-weight: 800;
}
.postList__backBtn:hover{
    cursor: pointer;
}

.postList__addBtn{
    margin-top: 10px;
    border: 1px solid lightgray;
    background-color: #3B945E;
    padding: 10px;
    text-transform: uppercase;
    color: white;
    font-weight: 800;
}
.postList__addBtn:hover{
    cursor: pointer;
}
.postList__addBtn:focus{
    outline: none;
}