.posts{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}
.posts__content{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.posts__content p{
    font-size: 30px;
}