.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -150%);
    opacity: 0;
    visibility: hidden;
    width: 100%;
    /* color: white; */
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .5s;
    z-index: 150;
    padding: 30px 30px;
    background-color: #ECECEC;
}

.modal.open{
    position: fixed;
    transform: translate(-50%, -50%);
    opacity: 1;
    visibility:  visible;
    transition: all .5s;

}
.modal h3{
    /* color */
    margin-top: 5px;
}
.modal.open form{
    /* background: orange; */
    display: flex;
    flex-direction: column;
    width: 70%;
}
.modal.open form input{
    margin: 5px 0px;
    height: 25px;
}
.modal.open form input:focus{
    outline: none;
}
.modal.open form button{
    background-color: #3B945E;
    border: 1px solid lightgray;
    margin-top: 3px;
    padding: 10px;
    text-transform: uppercase;
    color: white;
    font-weight: 800;
}
.modal.open form button:hover{
    cursor: pointer;
}
.modal.open form button:disabled{
    /* background-color: #e0727d; */
    background-color: lightgray;
}
.modal.open form button:disabled:hover{
    cursor: not-allowed;
}