.posts{
    /* height: inherit; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: orange; */
}
.posts__content{
    height: 100vh;
    /* background-color: orange; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.posts__content p{
    font-size: 30px;
}