.postInfo{
    border: 1px solid lightgray;
    border-radius: 5px;
    flex-direction: column;
    width: 100%;
    margin: 5px auto;
    padding: 10px 10px 30px;
    /* background-color: orange; */
}
.postInfo h3{
    text-align: center;
    font-size: 20px;
    margin: 0px;
}
.postInfo p{
    margin: 1px;
    height: 20px;
}
.postInfo__controls{
    display: flex;
}
.postinfo__editors{
    flex: 1;
}
.postInfo__field{
    display: flex;
    height: 20px;
    margin: 1px;

}
.postInfo__field input{
    flex: 1;
}

.postInfo__updateBtn {
    display: inline;
    color: white;
    font-weight: 800;
    background-color: #41b3a3;
    visibility: hidden;
    border: 1px solid lightgray;
}
.postInfo__updateBtn {
    cursor: pointer;
}

.postInfo__updateBtn.open{
    visibility: visible;
}